<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="eclipse_rpc_dc.Activator" />
   </extension>
   <extension
     point="org.eclipse.ui.preferencePages">
  <page
        id="eclipse_rpc_dc.configWindow"
        name="Eclipse RPC"
        class="eclipse_rpc_dc.config.ConfigWindow">
  </page>
</extension>
</plugin>
